<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @location.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @location.address %>
</p>

<!-- <p>
  <strong>Latitude:</strong>
  <%= @location.latitude %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @location.longitude %>
</p> -->

<img src="https://maps.googleapis.com/maps/api/staticmap?center=<%= @location.address %>&zoom=14&size=600x300&maptype=roadmap
&markers=color:red%7Clabel:X%7C<%=@location.address%>&key=AIzaSyDyUGuNx18DFBXojrqK3vaHpOrWSj3pSAM"></img>

<h3>Nearby Locations</h3>

<% @nearbylocations = @location.nearbys(10) %>
<ul>
<% @nearbylocations.each do |location| %>
  <li><%= location.name %> - <%= location.distance.round(2) %> miles</li>
  <br>
<%end%>
</ul>

<%= link_to 'Edit', edit_location_path(@location) %> |
<%= link_to 'Back', locations_path %>
